<div class="m-50">
  <div class='container'>
    <h2>Ask your coach!</h2>
    <form action="/ask" method= "get">
      <input type="text" name="question">
      <input type="submit" value="submit" id="btn-submit">
    </form>
  </div>
</div>
